
*, *::before, *::after {
    font-size: 62.5%;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 5rem;
}

.container {
    max-width: 802px;
    margin: 0 auto;
}

#timer {
    text-align: center;
    margin: 10px auto;
}

#GameScreen {
    border: 1px solid black;
    
}

#theX, #theY {
    margin: 2rem 0;
    border: 0.1vw solid black;
}
